dotenv
whisper
tqdm
pathlib
os
json
time
os
googleapiclient

pandas
youtube_transcript_api
json
subprocess
requests
re
youtube_dl
pytube
ytube

tqdm.auto
ytube.exceptions
urllib.parse
googleapiclient.discovery

firebase_admin
